.monsterLore2024-outer > .card-body {
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.monsterLore2024-inner > .card-header {
    padding: 0 10px;
}

.monsterLore2024-component {
    margin-left: 5px;
    margin-right: -5px;
}

.monsterLore2024-hidden {
    display: none;
}

.monsterLore2024-inner-list {
    max-width: 1000px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 5px;
}
