<div *ngIf="spell != null" class="card w-100">
	<div class="card-header">
		<div (click)="toggleDetails(spell)">
			<div class="card-title">{{spell.name}}</div>
			<i>{{getLevelText(this.spell.level)}}&nbsp;{{spell.school.name.toLowerCase()}}&nbsp;<span *ngIf="spell.ritual">(ritual)</span></i><br />
		</div>
		<div>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" id="prepared" name="prepared" [disabled]="spell.known != true" [(ngModel)]="spell.prepared" #preparedControl="ngModel" (click)="togglePrepared(spell)">
				<label class="form-check-label" for="prepared">
					Prepared
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" id="known" name="known" [(ngModel)]="spell.known" #knownControl="ngModel" (click)="toggleKnown(spell)">
				<label class="form-check-label" for="known">
					Known
				</label>
			</div>
		</div>
	</div>
	<div *ngIf="spell.ui && spell.ui.show" class="card-body">
		<div class="card-text">
			<div class="stats">
				<div>
					<b>Casting Time:</b>&nbsp;{{spell.casting_time}}<br />
					<b>Range:</b>&nbsp;{{spell.range}}<br />
					<b>Components:</b>&nbsp;{{spell.components}}&nbsp;<span
						*ngIf="spell.material">({{spell.material}})</span><br />
					<b>Duration:</b>&nbsp;<span *ngIf="spell.concentration">Concentration,&nbsp;</span>{{spell.duration}}<br />
				</div>
				<div>
					<b>Classes:</b>&nbsp;{{getClasses()}}<br />
					<div *ngIf="spell.area_of_effect">
						<b>Area of Effect:</b>&nbsp;{{spell.area_of_effect.size}} foot {{spell.area_of_effect.type}}<br />
					</div>
					<div *ngIf="spell.damage">
						<b>Damage Type:</b>&nbsp;{{spell.damage.damage_type.name}}<br />
					</div>
					<div *ngIf="spell.dc">
						<b>DC:</b>&nbsp;{{spell.dc.dc_type.name}} ({{spell.dc.dc_success}})<br />
					</div>
				</div>
			</div>
			<hr>
			<span *ngFor="let desc of spell.desc">
				{{desc}}<br /><br />
			</span>
			<span *ngIf="spell.higher_level != null">
				<b>At higher levels.</b>&nbsp;{{spell.higher_level}}<br />
			</span>
		</div>
	</div>
</div>