.encounters-playerLevelButtons {
  grid-column: 2 / -1;
  display: flex;
  gap: 1rem;
}

.encounters-table {
  margin: auto;
  margin-top: 20px;
  max-width: 500px;
}

.encounters-column {
  width: 100px;
}
