.monsterDefenses-monster-defenses {
    display: flex;
    flex-direction: column;
}

.monsterDefenses-monster-defenses > div {
    margin: 0;
    padding: 0;
}

.monsterDefenses-monster-defenses > b {
    margin: 0;
    padding: 0;
}
