.monster-abilities {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 370px;
}

.monster-ability {
    text-align: center;
}

.monster-ability-name {
  font-weight: bold;
}

.monster-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.monster-cover img {
    max-width: 90%;
    max-height: 90%;
}

.monster-inner {
    margin-left: 20px;
}


