.monsterSearch-filter-form .row {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 5px;
}

.monsterSearch-filter-form .col {
    padding: 0;
}

.monsterSearch-column {
    width: 100%;
}

.monsterSearch-abilities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.monsterSearch-ability {
    text-align: center;
}

.monsterSearch-ability-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.monsterSearch-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.monsterSearch-cover img {
    max-width: 90%;
    max-height: 90%;
}

.monsterSearch-inner {
    margin-left: 20px;
}
