@if (race != null) {
  <div class="card w-100" [class.active]="expand">
    <div class="card-header clickable" (click)="toggleDetails()">
      <div class="card-title">{{race.name}}</div>
    </div>
    @if (expand) {
      <div class="card-body">
        {{race.desc}}<br/><br/>
        <b>Ability Bonuses:</b>&nbsp;{{getAbilityBonuses(race.ability_bonuses)}}<br />
        @if (race.ability_bonus_options) {
          <div>
            <b>Ability Bonus Options:</b>&nbsp;{{getAbilityBonusOptions(race.ability_bonus_options)}}<br />
          </div>
        }
        <b>Speed:</b>&nbsp;{{race.speed}} feet<br />
        @if (race.starting_proficiencies.length > 0) {
          <div>
            <b>Starting Proficiencies:</b>&nbsp;{{getNameString(race.starting_proficiencies)}}<br />
          </div>
        }
        @if (race.starting_proficiency_options) {
          <div>
            <b>Starting Proficiency Options:</b>&nbsp;Choose {{race.starting_proficiency_options.choose}} - {{getNameString(race.starting_proficiency_options.from)}}<br />
          </div>
        }
        <hr>
          <b>Alignment:</b>&nbsp;{{race.alignment}}<br /><br />
          <b>Age:</b>&nbsp;{{race.age}}<br /><br />
          <b>Languages:</b>&nbsp;{{getNameString(race.languages)}} - {{race.language_desc}}<br /><br />
          @if (race.language_options) {
            <div>
              <b>Language Options:</b>&nbsp;Choose {{race.language_options.choose}} - {{getNameString(race.language_options.from)}}<br /><br />
            </div>
          }
          <b>Size:</b>&nbsp;{{race.size}} - {{race.size_description}}<br />
          @if (race.traits && race.traits.length > 0) {
            <div class="removeExtraLine">
              <hr>
                <h5>Traits</h5>
                @for (trait of race.traits; track trait) {
                  <div>
                    <b>{{trait.name}}</b> - <span [innerHtml]="domSanitizer.bypassSecurityTrustHtml(trait.desc)"></span><br />
                    @if (trait.details) {
                      <div>
                        <br /><span [innerHtml]="domSanitizer.bypassSecurityTrustHtml(trait.details)"></span><br />
                      </div>
                    }
                    <div class="subtext">
                      @if (trait.proficiencies.length > 0) {
                        <div>
                          <b>Proficiencies:</b>&nbsp;{{getNameString(trait.proficiencies)}}<br />
                        </div>
                      }
                      @if (trait.trait_specific && trait.trait_specific.subtrait_options) {
                        <div>
                          <b>Options:</b>&nbsp;Choose {{trait.trait_specific.subtrait_options.choose}} - {{getNameString(trait.trait_specific.subtrait_options.from)}}<br />
                        </div>
                      }
                      @if (trait.trait_specific && trait.trait_specific.spell_options) {
                        <div>
                          <b>Spell Options:</b>&nbsp;Choose {{trait.trait_specific.spell_options.choose}} - {{getNameString(trait.trait_specific.spell_options.from)}}<br />
                        </div>
                      }
                    </div>
                  </div>
                }
              </div>
            }
            @if (race.subraces && race.subraces.length > 0) {
              <div class="removeExtraLine">
                <hr>
                  <h5>Subraces</h5>
                  @for (subrace of race.subraces; track subrace) {
                    <div>
                      <strong>{{subrace.name}}</strong> - {{subrace.desc}}<br />
                      <div class="subtext">
                        @if (subrace.ability_bonuses) {
                          <div>
                            <b>Ability Bonuses:</b>&nbsp;{{getAbilityBonuses(subrace.ability_bonuses)}}<br />
                          </div>
                        }
                        @if (subrace.ability_bonus_options) {
                          <div>
                            <b>Ability Bonus Options:</b>&nbsp;{{getAbilityBonusOptions(subrace.ability_bonus_options)}}<br />
                          </div>
                        }
                        @if (subrace.starting_proficiencies.length > 0) {
                          <div>
                            <b>Starting Proficiencies:</b>&nbsp;{{getNameString(subrace.starting_proficiencies)}}<br />
                          </div>
                        }
                        @if (subrace.starting_proficiency_options) {
                          <div>
                            <b>Starting Proficiency Options:</b>&nbsp;Choose {{subrace.starting_proficiency_options.choose}} - {{getNameString(subrace.starting_proficiency_options.from)}}<br />
                          </div>
                        }
                        @if (subrace.languages.length > 0) {
                          <div>
                            <b>Languages:</b>&nbsp;{{getNameString(subrace.languages)}} - {{subrace.language_desc}}<br /><br />
                          </div>
                        }
                        @if (subrace.language_options) {
                          <div>
                            <b>Language Options:</b>&nbsp;Choose {{subrace.language_options.choose}} - {{getNameString(subrace.language_options.from)}}<br /><br />
                          </div>
                        }
                        @if (subrace.racial_traits && subrace.racial_traits.length > 0) {
                          <div>
                            <h5>Traits</h5>
                            @for (trait of subrace.racial_traits; track trait) {
                              <div>
                                <b>{{trait.name}}</b> - {{trait.desc}}<br />
                                <div class="subtext">
                                  @if (trait.proficiencies.length > 0) {
                                    <div>
                                      <b>Proficiencies:</b>&nbsp;{{getNameString(trait.proficiencies)}}<br />
                                    </div>
                                  }
                                  @if (trait.trait_specific && trait.trait_specific.subtrait_options) {
                                    <div>
                                      <b>Options:</b>&nbsp;Choose {{trait.trait_specific.subtrait_options.choose}} - {{getNameString(trait.trait_specific.subtrait_options.from)}}<br />
                                    </div>
                                  }
                                  @if (trait.trait_specific && trait.trait_specific.spell_options) {
                                    <div>
                                      <b>Spell Options:</b>&nbsp;Choose {{trait.trait_specific.spell_options.choose}} - {{getNameString(trait.trait_specific.spell_options.from)}}<br />
                                    </div>
                                  }
                                </div>
                              </div>
                            }
                          </div>
                        }
                        <hr>
                        </div>
                      </div>
                    }
                  </div>
                }
                <br/>
                @if (race.page) {
                  <div>{{race.book}} (page {{race.page}})</div>
                }
              </div>
            }
          </div>
        }