.card {
    margin-top: 5px;
    margin-left: 5px;
    width: 100%;
}
.card-header {
    align-content: center;
    display: grid;
    grid-template-columns: auto 110px;
}
.card-title {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0;
}
.removeExtraLine {
    margin-bottom: -20px;
}
.subrace {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
.subtext {
    padding: 10px 20px;
}