<div *ngIf="monster != null" class="card w-100">
	<div class="card-header">
		<div (click)="toggleDetails(monster)">
			<div class="card-title">{{monster.name}}</div>
			<i>{{monster.size}}&nbsp;{{monster.type.toLowerCase()}},&nbsp;{{monster.alignment}}</i><br />
		</div>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="bookmarked" name="bookmarked" [(ngModel)]="monster.bookmarked" #bookmarkedControl="ngModel" (click)="toggleBookmark(monster)">
			<label class="form-check-label" for="bookmarked">
				Bookmarked
			</label>
		</div>
	</div>
	<div *ngIf="monster.ui && monster.ui.show" class="card-body">
		<image-modal *ngIf="monster.image==true" [image]="monster.index + '.jpg'"></image-modal>
		<div class="card-text">
			<div class="stats">
				<div>
					<b>Armor Class:</b>&nbsp;{{monster.armor_class}}<br />
					<b>Hit Points:</b>&nbsp;{{monster.hit_points}}&nbsp;({{monster.hit_dice}})<br />
					<b>Speed:</b>&nbsp;{{monster.speed.walk}}<span *ngIf="monster.speed.burrow">, burrow {{monster.speed.burrow}}</span><span *ngIf="monster.speed.climb">, climb {{monster.speed.climb}}</span><span *ngIf="monster.speed.hover">, hover {{monster.speed.hover}}</span><span *ngIf="monster.speed.fly">, fly {{monster.speed.fly}}</span><span *ngIf="monster.speed.swim">, swim {{monster.speed.swim}}</span><br />
				</div>
				<div>
					<button *ngIf="monster.image==true" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#imageModal">Image</button>
				</div>
			</div>
            <hr>
			<div class="abilities">
				<div class="ability">
					<div class="ability-name">STR</div>
					<div>{{monster.strength}} ({{getAbilityModifier(monster.strength)}})</div>
				</div>
				<div class="ability">
					<div class="ability-name">DEX</div>
					<div>{{monster.dexterity}} ({{getAbilityModifier(monster.dexterity)}})</div>
				</div>
				<div class="ability">
					<div class="ability-name">CON</div>
					<div>{{monster.constitution}} ({{getAbilityModifier(monster.constitution)}})</div>
				</div>
				<div class="ability">
					<div class="ability-name">INT</div>
					<div>{{monster.intelligence}} ({{getAbilityModifier(monster.intelligence)}})</div>
				</div>
				<div class="ability">
					<div class="ability-name">WIS</div>
					<div>{{monster.wisdom}} ({{getAbilityModifier(monster.wisdom)}})</div>
				</div>
				<div class="ability">
					<div class="ability-name">CHA</div>
					<div>{{monster.charisma}} ({{getAbilityModifier(monster.charisma)}})</div>
				</div>
			</div>
			<hr>
			<div *ngIf="hasSavingThrows()">
				<b>Saving Throws:</b>&nbsp;{{getSavingThrows()}}<br />
			</div>
			<div *ngIf="hasSkills()">
				<b>Skills:</b>&nbsp;{{getSkills()}}<br />
			</div>
			<div *ngIf="monster.condition_immunities.length > 0">
				<b>Condition Immunities:</b>&nbsp;{{getConditionImmunities()}}<br />
			</div>
			<div *ngIf="monster.damage_immunities.length > 0">
				<b>Damage Immunities:</b>&nbsp;{{getDamageImmunities()}}<br />
			</div>
			<div *ngIf="monster.damage_resistances.length > 0">
				<b>Damage Resistances:</b>&nbsp;{{getDamageResistances()}}<br />
			</div>
			<div *ngIf="monster.damage_vulnerabilities.length > 0">
				<b>Damage Vulnerabilities:</b>&nbsp;{{getDamageVulnerabilities()}}<br />
			</div>
			<b>Senses:</b>&nbsp;{{getSenses()}}<br />
			<div *ngIf="monster.languages">
				<b>Languages:</b>&nbsp;{{monster.languages}}<br />
			</div>
			<b>Challenge:</b>&nbsp;{{monster.challenge_rating}} ({{monster.xp}} XP)<br />
            <hr>
			<div class="removeExtraLine">
				<span *ngFor="let special_ability of monster.special_abilities">
					<b>{{special_ability.name}}:</b>&nbsp;{{special_ability.desc}}<br /><br />
				</span>
			</div>
			<hr>
			<div class="removeExtraLine">
				<h5>Actions</h5>
				<div *ngFor="let action of monster.actions">
					<b>{{action.name}}<span *ngIf="action.usage && action.usage.type == 'recharge on roll'">&nbsp;(Recharge {{action.usage.min_value}}-6)</span>:</b>&nbsp;{{action.desc}}<br /><br />
				</div>
			</div>
			<div *ngIf="monster.reactions != null">
				<hr>
				<div class="removeExtraLine">
					<h5>Reactions</h5>
					<span *ngFor="let reaction of monster.reactions">
						<b>{{reaction.name}}:</b>&nbsp;{{reaction.desc}}<br /><br />
					</span>
				</div>
			</div>
			<div *ngIf="monster.legendary_actions != null">
				<hr>
				<div class="removeExtraLine">
					<h5>Legendary Actions</h5>
					<span *ngFor="let legendary_action of monster.legendary_actions">
						<b>{{legendary_action.name}}:</b>&nbsp;{{legendary_action.desc}}<br /><br />
					</span>
				</div>
			</div>
		</div>
	</div>
</div>