// form {
//   max-width: 1000px;
//   margin: auto;
//   margin-bottom: 20px;
// }

form {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 10px;
  max-width: 500px;
  margin: 20px auto;
}

.spellList {
  max-width: 1000px;
  margin: auto;
}
