.active > .nav-link {
    background-color: var(--background-color-inverse);
    border-radius: 5px;
    color: var(--color-header) !important;
}
.navbar-brand {
    color: var(--color-header);
    font-weight: 900;
}
