@for (subtype of monsterSubtypes; track subtype) {
  <div class="list">
    <div class="card outer w-100" [class.active]="shownSubtype == subtype.index" [id]="subtype.index">
      <div class="card-header clickable" (click)="showSubtype(subtype.index)">
        <div class="card-title">{{subtype.name}}</div>
      </div>
      @if (shownSubtype == subtype.index) {
        <div class="card-body">
          <div [innerHtml]="domSanitizer.bypassSecurityTrustHtml(subtype.desc)"></div>
          <br/>
          <h5>Monsters</h5>
          @for (monster of monsters; track monster) {
            <div class="inner-list" [id]="monster.index">
              @if (subtype.monsters.includes(monster.index)) {
                <app-monster [monster]="monster" [expand]="shownCard==monster.index" (expanded)="expandCard(monster.index, $event)" [cardType]="'inner'"></app-monster>
              }
            </div>
          }
          <div class="card-footer">
            {{subtype.book}} (page {{subtype.page}})
          </div>
        </div>
      }
    </div>
  </div>
}