.locations-cover {
  background-color: var(--background-color-main);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.locations-cover img {
  max-width: 100vw;
  max-height: 100dvh;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  z-index: 200;
  display: block;
  object-fit: contain;
}

.stats {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 10px;
}

.stats > div:last-child {
  text-align: right;
}

