.playerClass-level-group {
    width: 370px;
}

.playerClass-btn-level {
    padding: 3px;
    width: 37px;
}

.playerClass-subclass-group {
    padding-top: 10px;
    width: 370px;
}

.playerClass-btn-subclass {
    padding: 3px;
    width: 185px;
}

.playerClass-inner > .card-body {
    padding: 8px;
}

.playerClass-outer > .card-body {
    padding: 4px;
}

.playerClass-component {
    margin-left: 5px;
    margin-right: -5px;
}

.playerClass-hidden {
    display: none;
}

.playerClass-feature {
    margin-bottom: 26px;
}

.playerClass-feature-desc {
    padding-left: 10px;
}

.playerClass-margin-bottom-small {
    margin-bottom: 6px;
}

.playerClass-spell-list {
    margin-top: 0;
    padding-top: 0;
}

.playerClass-subtext {
    padding: 6px 20px;
}
