.card {
  margin-top: 5px;
  width: 100%;
}
.inner > .card-body {
  padding: 8px;
}
.outer > .card-body {
  padding: 2px;
}
.card-header {
  align-content: center;
  display: grid;
  grid-template-columns: auto 110px;
}
.inner > .card-header {
  background-color: rgba(100, 100, 100, 1);
  color: white;
}
.card-title {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0;
}
.component {
  margin-left: 5px;
  margin-right: -5px;
}
.hidden {
  display: none;
}
.removeExtraLine {
  margin-bottom: -20px;
}
