<div class="component">
	<div *ngIf="rule != null" class="card outer w-100" [class.active]="expand">
		<div class="card-header clickable" (click)="toggleDetails()">
			<div class="card-title">{{rule.name}}</div>
		</div>
		<div *ngIf="expand" class="card-body">
			<div *ngFor="let subsection of rule.subsections">
				<div class="card inner w-100" [class.active]="shownSubsection == subsection.index">
					<div class="card-header clickable" (click)="showSubsection(subsection.index)">
						<div class="card-title">{{subsection.name}}</div>
					</div>
					<div class="card-body hidden" [class.hidden]="shownSubsection != subsection.index">
						<div [innerHtml]="domSanitizer.bypassSecurityTrustHtml(subsection.desc)"></div>
						<div *ngIf="subsection.page">{{subsection.book}} (page {{subsection.page}})</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
