@import 'node_modules/bootstrap/scss/bootstrap.scss';

/*
Try and keep global SCSS and CSS to a minimum and mainly to global variables.  This prevents components from breaking when used in other projects
*/
:root {
    --nav-padding-top: 61px;
    --background-color-main: #111;
    --color-main: #ddd;
    --background-color-header: #121;
    --color-header: #eee;
    --background-color-body: #222;
    --color-header-body: #fff;
    --background-color-header-inner: #232;
    --color-header-inner: #fff;
    --color-link-active: lightgreen;
}

body {
    background-color: var(--background-color-main);
    color: var(--color-main);
    color-scheme: light dark;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-synthesis: none;
    font-weight: 400;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card-header {
    background-color: var(--background-color-header);
    color: var(--color-header);
}

.card-body {
    background-color: var(--background-color-body);
    color: var(--color-body);
}

.inner>.card-header {
    background-color: var(--background-color-header-inner);
    color: var(--color-header-inner);
    padding: 0 10px;
}

.inner>.card-header:hover {
    background-color: var(--background-color-header);
    color: var(--color-header);
}

.active.inner>.card-header {
    background-color: var(--background-color-header);
    color: var(--color-header);
}

.form-control {
    background-color: var(--background-color-body);
    color: var(--color-body);
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1.0em;
}

.w-20 {
    width: 20% !important;
}

.w-30 {
    width: 30% !important;
}

.w-40 {
    width: 40% !important;
}

.w-45 {
    width: 45% !important;
}

.w-60 {
    width: 60% !important;
}

.w-70 {
    width: 70% !important;
}

.clickable:hover {
    cursor: pointer;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color-main: #fff;
        --color-main: #333;
        --background-color-header: #bbb;
        --color-header: #060;
        --background-color-body: #eee;
        --color-header-body: #000;
        --background-color-header-inner: #ddd;
        --color-header-inner: #070;
        --color-link-active: lightgreen;
    }
}