<div *ngIf="imageActive" class="cover" (click)="imageActive=false">
    <img [src]="'assets/monsters/' + monster.index + '.jpg'">
</div>
<div *ngIf="monster != null" class="card w-100" [class.active]="expand" [class.inner]="cardType=='inner'">
	<div class="card-header clickable">
		<div (click)="toggleDetails()">
			<div class="card-title">{{monster.name}}</div>
			<i>{{monster.size}}&nbsp;{{monster.type.toLowerCase()}}<span *ngIf="monster.subtype && monster.subtype!=monster.type">&nbsp;({{monster.subtype}})</span>,&nbsp;{{monster.alignment}}</i><br />
		</div>
		<div *ngIf="cardType!='inner'" class="form-check">
			<input class="form-check-input" type="checkbox" id="bookmarked" name="bookmarked" [(ngModel)]="monster.bookmarked" #bookmarkedControl="ngModel" (click)="toggleBookmark(monster)">
			<label class="form-check-label" for="bookmarked">
				Bookmarked
			</label>
		</div>
	</div>
	<div *ngIf="expand" class="card-body">
		<!-- <image-modal *ngIf="monster.image==true" [image]="monster.index + '.jpg'"></image-modal> -->
		<div class="card-text">
			<div class="stats">
				<div>
					<b>Armor Class:</b>&nbsp;{{monster.armor_class}}<br />
					<b>Hit Points:</b>&nbsp;{{monster.hit_points}}&nbsp;({{monster.hit_dice}})<br />
					<b>Speed:</b>&nbsp;{{monster.speed.walk ? monster.speed.walk : '0 ft.'}}<span *ngIf="monster.speed.burrow">, burrow {{monster.speed.burrow}}</span><span *ngIf="monster.speed.climb">, climb {{monster.speed.climb}}</span><span *ngIf="monster.speed.fly">, fly {{monster.speed.fly}}</span><span *ngIf="monster.speed.hover"> (hover)</span><span *ngIf="monster.speed.swim">, swim {{monster.speed.swim}}</span><br />
				</div>
				<div>
					<button *ngIf="monster.image==true" type="button" class="btn btn-primary" (click)="imageActive=true">Image</button>
				</div>
			</div>
            <hr>
			<div class="abilities">
				<div class="ability">
					<div class="ability-name">STR</div>
					<div>{{monster.strength}} ({{getAbilityModifier(monster.strength)}})</div>
				</div>
				<div class="ability">
					<div class="ability-name">DEX</div>
					<div>{{monster.dexterity}} ({{getAbilityModifier(monster.dexterity)}})</div>
				</div>
				<div class="ability">
					<div class="ability-name">CON</div>
					<div>{{monster.constitution}} ({{getAbilityModifier(monster.constitution)}})</div>
				</div>
				<div class="ability">
					<div class="ability-name">INT</div>
					<div>{{monster.intelligence}} ({{getAbilityModifier(monster.intelligence)}})</div>
				</div>
				<div class="ability">
					<div class="ability-name">WIS</div>
					<div>{{monster.wisdom}} ({{getAbilityModifier(monster.wisdom)}})</div>
				</div>
				<div class="ability">
					<div class="ability-name">CHA</div>
					<div>{{monster.charisma}} ({{getAbilityModifier(monster.charisma)}})</div>
				</div>
			</div>
			<hr>
			<div *ngIf="hasSavingThrows()">
				<b>Saving Throws:</b>&nbsp;{{getSavingThrows()}}<br />
			</div>
			<div *ngIf="hasSkills()">
				<b>Skills:</b>&nbsp;{{getSkills()}}<br />
			</div>
			<div *ngIf="monster.condition_immunities.length > 0">
				<b>Condition Immunities:</b>&nbsp;{{getNameString(monster.condition_immunities)}}<br />
			</div>
			<div *ngIf="monster.damage_immunities.length > 0">
				<b>Damage Immunities:</b>&nbsp;{{getNameString(monster.damage_immunities)}}<br />
			</div>
			<div *ngIf="monster.damage_resistances.length > 0">
				<b>Damage Resistances:</b>&nbsp;{{getNameString(monster.damage_resistances)}}<br />
			</div>
			<div *ngIf="monster.damage_vulnerabilities.length > 0">
				<b>Damage Vulnerabilities:</b>&nbsp;{{getNameString(monster.damage_vulnerabilities)}}<br />
			</div>
			<b>Senses:</b>&nbsp;{{getSenses()}}<br />
			<div *ngIf="monster.languages">
				<b>Languages:</b>&nbsp;{{monster.languages}}<br />
			</div>
			<div *ngIf="monster.environments">
				<b>Environments:</b>&nbsp;{{getNameString(monster.environments)}}<br />
			</div>
			<div *ngIf="monster.allies">
				<b>Allies:</b>&nbsp;{{getNameString(monster.allies)}}<br />
			</div>
			<div *ngIf="monster.enemies">
				<b>Enemies:</b>&nbsp;{{getNameString(monster.enemies)}}<br />
			</div>
			<b>Challenge:</b>&nbsp;{{monster.challenge_rating}} ({{monster.xp}} XP)<br />
            <hr>
			<div class="removeExtraLine">
				<span *ngFor="let special_ability of monster.special_abilities">
					<b>{{special_ability.name}}<span *ngIf="special_ability.usage && special_ability.usage.type=='per day'">&nbsp;({{special_ability.usage.times}}/day)</span>:</b>&nbsp;<span [innerHtml]="domSanitizer.bypassSecurityTrustHtml(special_ability.desc)"></span><br /><br />
				</span>
			</div>
			<hr>
			<div class="removeExtraLine">
				<h5>Actions</h5>
				<div *ngFor="let action of monster.actions">
					<b>{{action.name}}<span *ngIf="action.usage && action.usage.type == 'recharge on roll'">&nbsp;(Recharge {{action.usage.min_value}}-6)</span><span *ngIf="action.usage && action.usage.type == 'per day'">&nbsp;({{action.usage.times}}/Day)</span>:</b>&nbsp;{{action.desc}}<br /><br />
				</div>
			</div>
			<div *ngIf="monster.reactions != null">
				<hr>
				<div class="removeExtraLine">
					<h5>Reactions</h5>
					<span *ngFor="let reaction of monster.reactions">
						<b>{{reaction.name}}:</b>&nbsp;{{reaction.desc}}<br /><br />
					</span>
				</div>
			</div>
			<div *ngIf="monster.legendary_actions != null">
				<hr>
				<div class="removeExtraLine">
					<h5>Legendary Actions</h5>
					<span *ngFor="let legendary_action of monster.legendary_actions">
						<b>{{legendary_action.name}}:</b>&nbsp;{{legendary_action.desc}}<br /><br />
					</span>
				</div>
			</div>
			<div *ngIf="monster.lair_actions != null">
				<hr>
				<h5>Lair Actions</h5>
				{{monster.lair_actions.summary}}<br />
				<ul>
					<li *ngFor="let action of monster.lair_actions.actions">
						{{action}}
					</li>
				</ul>
				<div *ngIf="monster.lair_actions.usage!=null">
					{{monster.lair_actions.usage}}<br />
				</div>
			</div>
			<div *ngIf="monster.regional_effects != null">
				<hr>
				<h5>Regional Effects</h5>
				{{monster.lair_actions.summary}}<br />
				<ul>
					<li *ngFor="let effect of monster.regional_effects.effects">
						{{effect}}
					</li>
				</ul>
				{{monster.regional_effects.usage}}<br />
			</div>
			<div *ngIf="monster.desc">
				<hr>
				<h5>Description</h5>			
				<div [innerHtml]="monster.desc">				
				</div>
				<br/>
				<div *ngIf="monster.page">{{monster.book}} (page {{monster.page}})</div>
			</div>
		</div>
	</div>
</div>