img {
    max-height: 100vh;
    width: auto;
    margin: auto;
    max-width:100%;
    z-index: 200;
}
.cover{
    background-color: black;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    z-index: 100;
}
.abilities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 370px;
}
.ability {
    text-align: center;
}
.ability-name {
    font-weight: bold;
}
.card {
    margin-top: 5px;
    margin-left: 5px;
    width: 100%;
}
.card-header {
    align-content: center;
    display: grid;
    grid-template-columns: auto 110px;
}
.card-title {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0;
}
.inner > .card-body {
    padding: 8px;
}
.inner > .card-header {
    background-color: rgba(100, 100, 100, 1);
    color: white;
    padding: 0 10px;
}
.inner > .card-header:hover {
    background-color: rgb(41, 45, 56);
}
.active.inner > .card-header {
    background-color: rgb(41, 45, 56);
}
.removeExtraLine {
    margin-bottom: -20px;
}
.stats {
    display: grid;
    grid-template-columns: auto 70px;
}